In [1]:
import sqlite3
from sqlite3 import Error

In [2]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

In [7]:
def select_all_tasks(conn, query1):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :param query1: the query to run
    :return:
    """
    cur = conn.cursor()
    
    
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [8]:
database = "sqlite_db_pythonsqlite.db"
# create a database connection
conn = create_connection(database)

2.6.0

In [18]:
q10 = """Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember that there's a different cost for guests and members!
"""


query10 = """
        SELECT facility_name, SUM(cost) AS TOTAL_REVENUE
        FROM (SELECT f.name AS facility_name, CASE WHEN b.memid = 0 THEN (b.slots * f.guestcost) ELSE 
        (b.slots * membercost) END AS cost 
        FROM Bookings as b JOIN Facilities AS f ON (b.facid = f.facid) JOIN Members AS m ON (b.memid = m.memid)) 
        AS subquery GROUP BY facility_name HAVING TOTAL_REVENUE < 1000;
        """
with conn:
    print(q10)
    select_all_tasks(conn, query10)

Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember that there's a different cost for guests and members!

('Pool Table', 270)
('Snooker Table', 240)
('Table Tennis', 180)

In [26]:
q11 = """Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order"""


query11 = """
        SELECT m1.surname AS member_surname,
        m1.firstname AS member_firstname,
        m2.surname ||" "|| m2.firstname AS recommendedby 
        FROM 
        Members AS m1 
        LEFT JOIN 
        Members AS m2 ON (m1.recommendedby = m2.memid)
        ORDER BY 
        member_surname ASC,
        member_firstname ASC;
        """
with conn:
    print(q11)
    select_all_tasks(conn, query11)

Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order
('Bader', 'Florence', 'Stibbons Ponder')
('Baker', 'Anne', 'Stibbons Ponder')
('Baker', 'Timothy', 'Farrell Jemima')
('Boothe', 'Tim', 'Rownam Tim')
('Butters', 'Gerald', 'Smith Darren')
('Coplin', 'Joan', 'Baker Timothy')
('Crumpet', 'Erica', 'Smith Tracy')
('Dare', 'Nancy', 'Joplette Janice')
('Farrell', 'David', None)
('Farrell', 'Jemima', None)
('GUEST', 'GUEST', None)
('Genting', 'Matthew', 'Butters Gerald')
('Hunt', 'John', 'Purview Millicent')
('Jones', 'David', 'Joplette Janice')
('Jones', 'Douglas', 'Jones David')
('Joplette', 'Janice', 'Smith Darren')
('Mackenzie', 'Anna', 'Smith Darren')
('Owen', 'Charles', 'Smith Darren')
('Pinker', 'David', 'Farrell Jemima')
('Purview', 'Millicent', 'Smith Tracy')
('Rownam', 'Tim', None)
('Rumney', 'Henrietta', 'Genting Matthew')
('Sarwin', 'Ramnaresh', 'Bader Florence')
('Smith', 'Darren', None)
('Smith', 'Darren', None)
('Smith', 'Jack', 'Smith Darren')
('Smith', 'Tracy', None)
('Stibbons', 'Ponder', 'Tracy Burton')
('Tracy', 'Burton', None)
('Tupperware', 'Hyacinth', None)
('Worthington-Smyth', 'Henry', 'Smith Tracy')

In [27]:
q12 = """Q12: Find the facilities with their usage by member, but not guests"""

query12 = """
        SELECT f.name AS facility_name,
        SUM(b.slots) AS total_usage_by_members FROM Bookings as b JOIN Facilities AS f ON (b.facid = f.facid) 
        WHERE b.memid != 0
        GROUP BY facility_name ORDER BY total_usage_by_members DESC;
        """
with conn:
    print(q12)
    select_all_tasks(conn, query12)

Q12: Find the facilities with their usage by member, but not guests
('Badminton Court', 1086)
('Tennis Court 1', 957)
('Massage Room 1', 884)
('Tennis Court 2', 882)
('Snooker Table', 860)
('Pool Table', 856)
('Table Tennis', 794)
('Squash Court', 418)
('Massage Room 2', 54)

In [29]:
q13 = """Q13: Find the facilities usage by month, but not guests"""

query13 = """
        SELECT f.name AS facility_name,
        strftime("%Y-%m", b.starttime) AS month,
        SUM(b.slots) AS total_usage_by_members FROM Bookings as b JOIN Facilities AS f ON (b.facid = f.facid) 
        WHERE b.memid != 0
        GROUP BY facility_name, month ORDER BY facility_name, month;
        """
with conn:
    print(q13)
    select_all_tasks(conn, query13)

Q13: Find the facilities usage by month, but not guests
('Badminton Court', '2012-07', 165)
('Badminton Court', '2012-08', 414)
('Badminton Court', '2012-09', 507)
('Massage Room 1', '2012-07', 166)
('Massage Room 1', '2012-08', 316)
('Massage Room 1', '2012-09', 402)
('Massage Room 2', '2012-07', 8)
('Massage Room 2', '2012-08', 18)
('Massage Room 2', '2012-09', 28)
('Pool Table', '2012-07', 110)
('Pool Table', '2012-08', 303)
('Pool Table', '2012-09', 443)
('Snooker Table', '2012-07', 140)
('Snooker Table', '2012-08', 316)
('Snooker Table', '2012-09', 404)
('Squash Court', '2012-07', 50)
('Squash Court', '2012-08', 184)
('Squash Court', '2012-09', 184)
('Table Tennis', '2012-07', 98)
('Table Tennis', '2012-08', 296)
('Table Tennis', '2012-09', 400)
('Tennis Court 1', '2012-07', 201)
('Tennis Court 1', '2012-08', 339)
('Tennis Court 1', '2012-09', 417)
('Tennis Court 2', '2012-07', 123)
('Tennis Court 2', '2012-08', 345)
('Tennis Court 2', '2012-09', 414)